@import "compass/utilities/general/clearfix";
@import "compass/typography/text/replacement";
@import "compass/css3/border-radius";


$c_base: rgb(0, 0, 0);
$c_dark: lighten($c_base, 30%);
$c_med_dark: lighten($c_base, 35%);
$c_med: lighten($c_base, 50%);
$c_light: lighten($c_base, 70%);
$c_lighter: lighten($c_base, 80%);
$c_lightest: lighten($c_base, 95%);
$font-family: 'Merriweather', serif;
$headings-font-family: $font-family;


body {
  color: $c_base;
  background-color: $c_light;
  line-height: 1.7;
  font-size: 1.1em;
  font-family: $font-family;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: $c_med;
  margin: 2em 0;
  a {
    text-decoration: none;
    font-style: normal;
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin: 2.5em 0 1.8em;
}

p, figure {
  margin: 1.8em 0;
}

figcaption {
  text-align: right;
  font-size: 0.8em;
  padding-right: 0.2em;
  font-style: italic;
  color: $c_light;
}

a {
  color: $c_med;
  font-style: italic;
  &:hover, &:active {
    color: $c_dark;
  }
}

.container {
  @include clearfix;
  position: relative;
}

.highlight {
  background-color: $c_lightest;
  padding: 1em;
  font-size: 0.8em;
  @include border-radius;
}

.date > time {
  font-style: italic;
  color: $c_lighter;
}

.gravatar {
  position: absolute;
  margin-top: 1.8em;
}

.epilogue {
  display: block;
  display: inline-block;
  font-style: italic;
  color: $c_med;
  font-size: 1.2em;
  margin: 3.6em 2em;
  a {
    color: $c_light;
    &:hover, &:active {
      color: $c_lighter;
    }
  }
}

.rss {
  @include replace-text-with-dimensions("rss.png");
  display: inline-block;
}

#header, #content, #comments, #footer {
  width: 100%;
  > .container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 960px;
  }
}

#content, #comments, #footer {
  padding-bottom: 2em;
}

#header {
  background-color: $c_dark;
  border-bottom: 3px solid $c_light;
  a {
    color: $c_med_dark;
    &:hover, &:active {
      color: $c_med;
    }
  }
  h1 {
    margin: 0.8em 0 1em;
  }
}

#content {
  background-color: white;
}

#comments {
  padding-top: 2em;
  background-color: $c_lightest;
}

#footer {
  background-color: $c_light;
  color: $c_med;
  p {
    margin-left: 140px;
  }
}

.post > footer {
  .next {
    float: right;
  }
  .previous {
    float: left;
  }
}

@media only screen and (max-width: 568px) {
  body {
    font-size: 1em;
    line-height: 1.5;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }

  .gravatar {
    width: 60px;
    height: 60px;
  }

  #footer p {
    margin-left: 73px;
  }
  .post > footer {
    .next, .previous {
      .label {
        display: none;
      }
      a {
        text-decoration: none;
      }
    }
    .icon {
      font-size: 2em;
    }
    .next .icon:before {
      content: "\2192";
    }
    .previous .icon:before {
      content: "\2190";
    }
  }

  .epilogue {
    display: block;
    font-style: italic;
    color: $c_med;
    font-size: 1.1em;
    margin: 3em 1em;
    a {
      color: $c_light;
      &:hover, &:active {
        color: $c_lighter;
      }
    }
  }
}
