<div class="post">
  <article class="container">
    <h2><a href="{{ site.root }}{{ url }}">{{ title }}</a></h2>
    {{ content }}
  </article>

  <footer class="container">
    {% if previous %}
    <p class="previous">
      <a href="{{ site.root }}{{ previous.url }}">
        {{ previous.title }}
      </a>
    </p>
    {% endif %}

    {% if next %}
    <p class="next">
      <a href="{{site.root }}{{ next.url }}">
        {{ next.title }}
      </a>
    </p>
    {% endif %}
  </footer>
</div>
