---
layout: default
---
{% comment %}https://gist.github.com/nimbupani/1421828{% endcomment %}

{% assign title = page.title %}
{% assign url = page.url %}
{% assign next = page.next %}
{% assign previous = page.previous %}
{% assign date = page.date %}

{% include post-detail.html %}

{% if page.comments %}
<section id="comments">
  <div id="disqus_thread" class="container"></div>
</section>
<script type="text/javascript">$(function () { Comments.show(); });</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
