---
layout: default
---
{% comment %}https://gist.github.com/nimbupani/1421828{% endcomment %}

{% assign post = site.posts.first %}
{% assign content = post.content %}
{% assign title = post.title %}
{% assign url = post.url %}
{% assign next = post.next %}
{% assign previous = post.previous %}
{% assign date = post.date %}

{% include post-detail.html %}

{% if post.comments %}
<section id="comments">
  <div class="container">
    <p><a href="{{ post.url }}#disqus_thread" title="Comments">Comments</a></p>
  </div>
</section>
{% endif %}
